.menu {
    padding: 3rem 5%;

    .title {
        color: #ff9f0d;
        font-weight: 600;
        font-size: 1.3rem;
    }

    h1 {
        color: #464646;
        font-weight: 600;
        font-size: 2.3rem;
        margin-block: .5rem;
    }

    .subtitle {
        color: #626262;
        max-width: 600px;
        margin: auto;
        font-weight: 500;
    }

    .menu-container {
        padding: 2rem  0rem 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5%;

        .menu-item {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            text-align: start;
            border-radius: 0px 25px;
            padding-bottom: 1rem;

            &:hover .top img {
                filter: grayscale(0%);
            }

            .top {
                img {
                    transition: .3s linear;
                    filter: grayscale(80%);
                }
            }

            .middle {
                padding: 5%;

                h1 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 1.5rem;
                    margin-block: 5px;
                }
            }

            .bottom {
                padding-inline: 5%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .stars {
                    color: #fe9e0c;
                    font-size: 1.5rem;
                    margin-right: 10px;
                    display: flex;
                    gap: 5px;
                }

                .addicon {
                    font-size: 2.5rem;
                    background-color: #fe9e0c;
                    color: white;
                    border-radius: 30px 0 0 0;
                    width: 100px;
                    display: grid;
                    place-items: center;
                }
            }
        }
    }

    @media (max-width:1000px) {
        .menu-container {
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: 10rem;
        }
    }

    @media (max-width:600px) {
        .menu-container {
            grid-template-columns: repeat(1, 1fr);
            gap: 2%;
            padding-bottom: 20rem;
        }
       
    }
}
