section{

    text-align: center;

    .title{
        color: #ff9f0d;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .sub-title{
        max-width: 600px;
        margin: auto;
        color: #626262;
        font-weight: 500;
    }

    .heading{
        color: #464646;
        font-size: 2.5rem;
        font-weight: 600;
        margin-block: .5rem;
    }
}